<div class="craftpageexporter-modal">
    <form method="post" action="{{ siteUrl }}actions/craft-page-exporter/default/export" accept-charset="UTF-8">
        {{ csrfInput() }}

        <h1>Craft page exporter</h1>

        <input type="hidden" name="entryIds" value="{{ entryIds }}">
        <input type="hidden" name="siteId" value="{{ siteId }}">

        {% set overrides = [] %}
        {% include 'craft-page-exporter/settings.twig' %}

        <input type="submit" class="btn submit" value="Export">
    </form>
</div>

