{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-page-exporter plugin for Craft CMS 3.x
 *
 * craft-page-exporter Settings.twig
 *
 * @author    La Haute Société
 * @copyright Copyright (c) 2019 La Haute Société
 * @link      https://www.lahautesociete.com
 * @package   Craftpageexporter
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}
{% import "craft-page-exporter/macros" as macros %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {{ forms.lightswitchField({
                label: "Inline styles"|t,
                id: 'inlineStyles',
                name: 'inlineStyles',
                on: settings.inlineStyles,
                required: true,
                errors: settings.getErrors('inlineStyles')
            }) }}
        </div>

        <div class="col-12">
            {{ forms.lightswitchField({
                label: "Inline scripts"|t,
                id: 'inlineScripts',
                name: 'inlineScripts',
                on: settings.inlineScripts,
                required: true,
                errors: settings.getErrors('inlineScripts')
            }) }}
        </div>

        <div class="col-12">
            {{ forms.lightswitchField({
                label: "Flatten"|t,
                id: 'flatten',
                name: 'flatten',
                on: settings.flatten,
                required: true,
                errors: settings.getErrors('flatten')
            }) }}
        </div>

        <div class="col-12">
            {{ forms.textField({
                label: "Prefix export URL"|t,
                id: 'prefixExportUrl',
                name: 'prefixExportUrl',
                value: settings.prefixExportUrl,
                required: false,
                errors: settings.getErrors('prefixExportUrl')
            }) }}
        </div>
    </div>
</div>








